#puzzle {
    max-width: 100%;
}

table {
    font-size: 20px;
    margin: 20px auto;
    max-width: 100%;
}

table tr {
    max-width: 100%;
}

#clicks {
    font-size: 60px;
    text-align: center;
    color: red;
}

.imagePart {
    color: #292927;
    max-width: 100%;
    border-style: solid;
    border-width: 0.08em;
    margin: -4px -2px;
}