.magazine.container {
    padding-bottom: 50px;
    padding-top: 50px;
}

.single-news {
    padding: 20px 0;
}

.single-news img {
    box-shadow: 5px 5px 4px #999;
}

.single-news a {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: blue;
}

.view {
    padding-bottom: 20px;
}