.lamb,
.niss {
    position: absolute;
    width: 500px;
    top: 100px;
    right: 0;
    transform: scale(0.5);
    visibility: hidden;
}

.lamb {
    animation: moving 5s ease-in-out;
}

.niss {
    animation: moving 4s ease-in-out;
}

@keyframes moving {
    0% {
        right: -25%;
        visibility: visible;
    }
    10% {
        bottom: 0%;
        visibility: visible;
    }
    20% {
        transform: scale(0.5) rotateZ(-5deg);
        bottom: 5%;
        visibility: visible;
    }
    25% {
        transform: scale(0.5) rotateZ(0deg);
        visibility: visible;
    }
    40% {
        transform: scale(0.5) rotateZ(5deg);
        visibility: visible;
    }
    50% {
        transform: scale(0.5) rotateZ(0deg);
        visibility: visible;
    }
    100% {
        right: 100%;
        bottom: 10%;
        transform: scale(0.5) rotateZ(0deg);
        visibility: visible;
    }
}