.card-header {
	font-family: 'Lobster', cursive;
}

.card {
	box-shadow: 0 0 15px rgba(0, 0, 0, 1)
}

.input-group-prepend {
	margin: 5px;
}

.input-group-prepend i.fa{
	transition: transform 1s ease-in-out;
}

.rotate-clock {
	transform: rotate(90deg);
}

.rotate-anticlock {
	transform: rotate(-90deg);
}
