body,
body.pushable,
.pusher {
    /* background: #00bfff;
     */
    /* Background Gradient for Analagous Colors */
    background: #87EBD6 -webkit-gradient(linear, left top, left bottom, from(#87BDEB), to(#87EBD6)) no-repeat !important;
}

.welcome {
    padding: 50px 0;
}

.balloon {
    width: 400px;
    animation: balloon 5s infinite ease-in-out;
    -webkit-filter: drop-shadow(7px 7px 14px #666);
    filter: drop-shadow(7px 7px 14px #666);
    -ms-filter: drop-shadow(7px 7px 14px #666);
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

@keyframes balloon {
    0%,
    100% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.welcome-content {
    margin-top: -10px;
    padding: 30px 0;
    /* background-image: url("../../images/Welcome party/pagecorner.png");
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat; */
}

.heading {
    font-family: 'Parisienne', cursive;
    font-weight: bold;
}

.heading h1 {
    font-size: 3.5rem;
}

.under-heading {
    margin: -61px 0;
    width: 400px;
}

.info {
    padding: 40px 0;
    color: #666;
    background-image: url("../../images/Welcome party/festival.png");
    background-size: 25%;
    background-position: right;
    background-repeat: no-repeat;
}

.info .col-md-7,
.info .col-md-5 {
    padding: 0 50px;
}

.info i {
    color: #00abab;
    font-size: 70px;
}

.info span {
    font-size: 35px;
    padding: 10px;
    font-family: 'Rakkas', cursive;
}

.time-plan {
    padding: 30px 0;
}

.time-plan table {
    color: #fff;
}

.video>.text-center,
.gallery>.text-center,
.time-plan>.text-center {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    color: #00abab;
    padding: 20px 0;
}

.gallery .card {
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.gallery .card .card-img-overlay {
    background: rgba(3, 3, 3, .5);
    display: none;
    transition: all .3s ease-in-out;
}

.gallery .card:hover .card-img-overlay {
    display: block;
}

.gallery .card:hover .card-img {
    transition: all .3s ease-in-out;
}

.gallery .card:hover .card-img {
    transform: scale(1.1) rotate(10deg);
}